*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    /* background-color: hsl(275, 100%, 97%); */
}

.background-section {
    height: 310px; /* Adjust the height as needed */
    /* background-size: cover; */
    /* /* background-position: center; */ 
    position: relative;
    background-image: url('./assets/images/background-pattern-desktop.svg'); /* Default background for all screens */
}

.container{
    width: 430px;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    margin:  40px 450px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Horizontal, vertical offset, blur radius, and color */
}

.faq{
    display: flex;
    align-items: center;
    font-size: 32px;
}

.faq, h1{
    padding-left: 20px;
}

.firstQuestion{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.p-Size{
    font-size: 15px;
    padding-top: 10px;
}

.message {
    display: none;
   color:  hsl(292, 16%, 49%);
}

.toggle-button {
    cursor: pointer;
}

.message.active {
    display: block;
    font-size: 10px;
    padding:  0px 10px;
    font-size: 11px;
}

svg{
    margin-top: 10px;
}